@charset "UTF-8";
	body {
	    font-family: Arial, sans-serif;
	    margin: 0;
	    padding: 0;
	}
	
	.container {
	    max-width: 800px; /* Adjust the value to your desired maximum width */
	    margin: 0 auto;
	    padding: 20px;
	}
	
	.accommodation {
	    display: flex;
	    align-items: center;
	    margin-bottom: 30px;
	    border-bottom: 1px solid #ccc;
	    padding-bottom: 20px;
	}
	
	.accommodation img {
	    max-width: 200px; 
	    max-height: 200px; 
	    margin-right: 20px;
	}
	
	.accommodation .info {
	    flex-grow: 1;
	}
	
	.accommodation .name {
	    font-size: 18px;
	    font-weight: bold;
	    margin-bottom: 10px;
	}
	
	.accommodation .location {
	    font-size: 16px;
	    margin-bottom: 10px;
	}
	
	.accommodation .city {
	    font-size: 14px;
	    color: #888;
	    margin-bottom: 10px;
	}
	
	.accommodation .price {
	    font-size: 18px;
	    font-weight: bold;
	}
	
	.btn-go-back {
	    background-color: #e5e5e5;
	    border: none;
	    color: #333;
	    padding: 10px 20px;
	    font-size: 16px;
	    cursor: pointer;
	    float : right;
	}
	
	.btn-go-back:hover {
	    background-color: #ddd;
	}