@charset "UTF-8";
.footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white; /* 글자 색상을 흰색으로 설정 */
}

.social-media a {
    color: #fff; /* 아이콘 색상을 흰색으로 설정 */
    margin: 0 10px;
    font-size: 20px;
}

.company-info, .social-media, .help-support {
    margin-bottom: 10px;
}

.help-support p {
    margin-bottom: 5px;
}