@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-container {
            text-align: center;
            margin-top: 20px;
        }

h3 {
            font-size: 20px;
            margin-bottom: 10px;
            text-align: center;
        }

table {
    border-collapse: collapse;
    margin: 0 auto 20px;
}

td {
    padding: 5px 10px;
}

input[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 auto 20px;
    text-align: center;
    display: inline-block;
	}

input[type="button"]:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}