body {
    margin: 0;
    padding: 0;
    background-image: url("/resources/img/japan2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 55px;
}

        .container {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
        }

        select,
        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
            margin-bottom: 20px;
        }

        .date-range-label {
            display: inline-block;
            width: 80px;
        }

        .date-range-inputs {
            display: inline-block;
        }

        .submit-button {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            align-self: flex-end;
            float: right;
        }

        .submit-button:hover {
            background-color: #45a049;
        }